body {
    margin 0;
    font-family:  'Montserrat', sans-serif;
    
    font-size: 15px:
    line-heighr: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    Box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
